#graphContainer {
    width: 1024px;
    height: 1024px;
    background-color: #282c34;
    padding: 0px;
    margin: 0px;
}

#tempBox {
    top: 100px;
    left: 100px;
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: dimgrey;
    padding: 0px;
    margin: 0px;
}

.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}
  
.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}

.nodeDiv {
    top: 100px;
    left: 100px;
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: lightblue;
    padding: 0px;
    margin: 0px;
}

.nodeDecorator {
    background-color: #3e4146;
    overflow: hidden;
    height: 20px;
}

.hasNodeDecorator {
    background-color: dodgerblue;
    color: lightgray;
}